{% extends 'base.html' %}
{% load tailwind_filters %}

{% block content %}
<div class="max-w-lg mx-auto">
    <h1 class="text-3xl text-yellow-800 mb-3 px-0 mt-5 mb-3">Login</h1>
    <form method="post" class="mt-5">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="w-full bg-yellow-800 hover:bg-yellow-600 px-3 py-1 text-white py-2 rounded-md">Login</button>
        <hr />
    </form>
    <br/>
    <a href="{% url 'reset_password' %}" class="w-1/2 bg-yellow-800 hover:bg-yellow-600 px-3 py-1 text-white py-2 rounded-md">Forgot password?</a>
</div>

{% endblock content %}