{% extends 'base.html' %}
{% load tailwind_filters %}

{% block content %}

<div class="max-w-lg mx-auto">
    <h1 class="text-3xl text-yellow-800 mt-5 mb-3">Enter your email address to reset password</h1>
    <form method="post" class="mt-5">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="w-full bg-yellow-800 hover:bg-yellow-600 px-3 py-1 text-white py-2 rounded-md">Submit</button>
    </form>
    <br/>
    <a href="{% url 'login' %}" class="w-1/2 bg-yellow-800 hover:bg-yellow-600 px-3 py-1 text-white py-2 rounded-md">Already have an account?</a>
</div>
{% endblock content %}