{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="text-gray-700 body-font">
  <h3 class="title-font flex justify-center text-3xl mt-5 text-yellow-800" >Bridging the gap between business growth and customer retention</h3>
    <img src="{% static "images/customer-support.png" %}" alt="Image of woman managing customer management system"/>
    <div class="container mb-24 flex px-5 items-center justify-center flex-col">
      <div class="text-center lg:w-2/3 w-full">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-yellow-800">
            CRM built with Django
        </h1>
        <p class="mb-3 leading-relaxed">
            This CRM helps your company focus on building solid relationship with your customers.
        </p>
        <p class="mb-8 leading-relaxed">
            Manage customer interactions in one place. 
        </p>
        <div class="flex justify-evenly">
          <a href="{% url 'login' %}"  class="inline-flex text-white bg-yellow-500 border-0 py-2 px-6 focus:outline-none hover:bg-yellow-600 rounded text-lg">
            Login to get started
          </a>
          or
          <a href="{% url 'signup' %}" class="inline-flex text-white bg-yellow-500 border-0 py-2 px-6 focus:outline-none hover:bg-yellow-600 rounded text-lg">Create an account</a>
        </div>
      </div>
    </div>
</section>
{% endblock content %}