h1 {
    font-family: 'Padauk', sans-serif;
}

h3 {
    font-family: 'Padauk', sans-serif;
}

span {
    font-family: 'Padauk', sans-serif;
}

p {
    font-family: 'Gudea', sans-serif;
}

a {
    font-family: 'Gudea', sans-serif;
}

div {
    font-family: 'Gudea', sans-serif
}

button {
    font-family: 'Gudea', sans-serif
}

form {
    font-family: 'Gudea', sans-serif
}
